@import "./normalize.css";

:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-body: #4a4949;
  --color-blueish: #1e61d9;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background: var(--color-body);
  color: var(--color-secondary);
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5;
  /* MESSAGE: Just for testinng components */
  margin: 2rem;
}

h1,
h3 {
  color: var(--color-secondary);
}

h1 {
  font-size: 6rem;
  font-weight: 800;
}

h2 {
  color: var(--color-primary);
  font-size: 4rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.links-arrow::after {
  content: "\25B6";
  font-size: 1.5rem;
  margin-left: 3px;
  transition: margin 0.3s;
}

.links-arrow {
  color: var(--color-primary);
  font-weight: 600;
  text-transform: capitalize;
}

.links-arrow:hover::after {
  margin-left: 1rem;
}

/* Badges */

.badge {
  color: var(--color-secondary);
  padding: 1rem 3rem;
  border-radius: 3rem;
}

.badge--blueish {
  background: var(--color-blueish);
}

.badge--secondary {
  background: var(--color-secondary);
  color: var(--color-primary);
}

.badge--small {
  padding: 0.4rem 0.9rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

/* List */

.list {
  list-style: none;
}

/* Icon */

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-container {
  padding: 1.5rem;
  border-radius: 3rem;
  display: inline-flex;
}

.icon-container--primary {
  background: var(--color-primary);
}

.icon--secondary {
  fill: var(--color-secondary);
}

/* Button */

.btn {
  cursor: pointer;
  outline: none;
  border-radius: 3rem;
  padding: 1.5rem;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-secondary);
}

/* Inputs */

.input {
  border: none;
  padding: 1rem 2rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.6rem;
}

input:focus {
  outline: none;
}

.address-bar {
  display: flex;
  border: 1px solid var(--color-primary);
  background: var(--color-secondary);
  padding: 0.2rem 0.3rem;
  border-radius: 3rem;
}

.address-bar .input {
  width: 0;
  flex-grow: 1;
}

/* Cards */

.card {
  border-radius: 1rem;
  overflow: hidden;
}

.card--image {
  max-width: 30rem;
}

.card__image-container {
  position: relative;
  height: 21rem;
  overflow: hidden;
}

.image-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 100%;
  transition: left 1.8s ease-in-out, filter 3s ease-out;
}

.card__image.active {
  left: 0;
}

.card__image.previous {
  left: -100%;
}

.card__image.diminish {
  filter: brightness(0);
}

.card__image-badge,
.card__image-heading {
  position: absolute;
  z-index: 2;
  transition: opacity 0.4s ease-out;
}

.card__image-heading {
  font-size: 1.8rem;
  font-weight: 600;
  top: 1.5rem;
  left: 1.5rem;
  margin: 0;
}

.card__image-badge {
  top: 1.5rem;
  right: 1.5rem;
}

.card__image-container:hover .card__image-heading {
  text-decoration: underline;
}

.card__image-container:hover .card__image {
  filter: brightness(0.9);
}

.card__image-container:hover .card__image-heading,
.card__image-container:hover .card__image-badge {
  opacity: 0;
}
