@import "./normalize.css";

:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-body: #3d3d3d;
  --color-blueish: #1e61d9;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background: var(--color-body);
  color: var(--color-secondary);
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: var(--color-primary);
  line-height: 1.5;
  /* MESSAGE: Just for testinng components */
  margin: 2rem;
}

h1,
h3 {
  color: var(--color-secondary);
}

h1 {
  font-size: 6rem;
  font-weight: 800;
}

h2,
h4 {
  color: var(--color-primary);
}

h2 {
  font-size: 4rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #6d6c6c;
}

.links-arrow::after {
  content: "\25B6";
  font-size: 1.5rem;
  margin-left: 3px;
  transition: margin 0.3s;
}

.links-arrow {
  color: var(--color-primary);
  font-weight: 600;
  text-transform: capitalize;
}

.links-arrow:hover::after {
  margin-left: 1rem;
}

/* Badges */

.badge {
  border-radius: 3rem;
  padding: 1rem 3rem;
}

.badge--blueish {
  color: var(--color-secondary);
  background: var(--color-blueish);
}

.badge--secondary {
  background: var(--color-secondary);
  color: var(--color-primary);
}

.badge--small {
  padding: 0.3rem 0.9rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

/* List */

.list {
  list-style: none;
}

/* Icon */

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-container {
  padding: 1.5rem;
  border-radius: 3rem;
  display: inline-flex;
}

.icon-container--primary {
  background: var(--color-primary);
}

.icon--secondary {
  fill: var(--color-secondary);
}

/* Button */

.btn {
  cursor: pointer;
  outline: none;
  border-radius: 3rem;
  padding: 1.5rem;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-secondary);
}

.btn--outline {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.btn--outline-dark {
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  background: var(--color-primary);
  opacity: 0.7;
  padding: 1rem 2rem;
  transition: background 0.2s ease-out;
}

.btn--outline-dark:hover {
  background: transparent;
}

/* Inputs */

.input {
  border: none;
  padding: 1rem 2rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.6rem;
}

input:focus {
  outline: none;
}

.address-bar {
  display: flex;
  border: 1px solid var(--color-primary);
  background: var(--color-secondary);
  padding: 0.2rem 0.3rem;
  border-radius: 3rem;
}

.address-bar .input {
  width: 0;
  flex-grow: 1;
}

/* Cards */

.card {
  border-radius: 1rem;
  overflow: hidden;
}

/* Listing Cards */

.card--image {
  max-width: 30rem;
}

.card__image-container {
  position: relative;
  height: 21rem;
  overflow: hidden;
}

.image-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 100%;
  transition: left 1.8s ease-in-out, filter 3s ease-out;
}

.card__image.active {
  left: 0;
}

.card__image.previous {
  left: -100%;
}

.card__image.diminish {
  filter: brightness(0);
}

.card__image-badge,
.card__image-heading {
  position: absolute;
  z-index: 2;
  transition: opacity 0.4s ease-out;
}

.card__image-heading {
  font-size: 1.8rem;
  font-weight: 600;
  top: 1.5rem;
  left: 1.5rem;
  margin: 0;
}

.card__image-badge {
  top: 1.5rem;
  right: 1.5rem;
}

.card__image-container:hover .card__image-heading {
  text-decoration: underline;
}

.card__image-container:hover .card__image {
  filter: brightness(0.9);
}

.card__image-container:hover .card__image-heading,
.card__image-container:hover .card__image-badge {
  opacity: 0;
}

/* Discover Cards */

.discover {
  border: 1px solid #c6c6c6;
  padding: 2rem;
}

.discover__media {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  max-width: 50rem;
}

.discover__container {
  display: flex;
  flex-direction: row;
}

.media__icon {
  width: 6rem;
  height: 6rem;
  margin-right: 5rem;
}

.media__heading {
  margin: 0 0 1rem 0;
}

.discover__media p {
  font-size: 1.6rem;
}

.media__content {
  margin-bottom: 3rem;
}

.media__call {
  font-weight: 600;
  text-decoration: underline;
}

/* Cards Trends */

.trend {
  max-width: 30rem;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem #a7a7a7;
}

.trend__header {
  position: relative;
  height: 20rem;
}

.trend__badge {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}

.trend__image {
  object-fit: fill;
  width: 100%;
  height: 100%;
  transition: filter 0.5s ease-out;
}

.trend__image:hover {
  filter: brightness(0.9);
}

.trend__footer {
  max-height: 15rem;
  padding: 1.2rem 1.8rem;
}

.trend__footer p {
  margin: 0;
}

.trend__footer p::after {
  content: "...";
}

/* Grid */

.grid {
  display: grid;
  gap: 0.7rem;
}

.grid--1x3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Article Block */

article {
  position: relative;
  height: 40rem;
}

.article__header {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  text-shadow: 0 2px 4px var(--color-primary);
  max-width: 45rem;
  z-index: 2;
}

.grid--1x3.article__image-container {
  grid-template-columns: 1fr minmax(auto, 40rem) 1fr;
}

.article__image,
.article__side-image {
  height: 40rem;
  filter: brightness(0.7);
}

.article__image img {
  width: 100%;
  height: 100%;
}

.article__side-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__side-image--left img {
  object-position: right;
}

.article__side-image--right img {
  object-position: left;
}

.article__heading {
  color: var(--color-secondary);
  font-size: 2.1rem;
  text-shadow: 0 0 0.5rem 1rem #232323;
}

.article__header p {
  font-size: 1.6rem;
  color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  .grid--1x3.article__image-container {
    grid-template-columns: 1fr minmax(auto, 50rem) 1fr;
  }

  .article__header {
    top: 35%;
    max-width: 50rem;
  }

  .article__image,
  .article__side-image {
    height: 45rem;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3.article__image-container {
    grid-template-columns: 1fr minmax(auto, 60rem) 1fr;
  }

  .article__header {
    top: 35%;
    max-width: 60rem;
  }

  .article__image,
  .article__side-image {
    height: 49rem;
  }
}
