<div class="menu toggle">
  <div class="logo-container">
    <img src="Images/Logo.svg" alt="" />
    <a href="" class="close-icon">
      <img
        class="icon close"
        src="images/4115230_cancel_close_delete_icon.svg"
        alt=""
      />
    </a>
  </div>
  <ul class="menu__list">
    <a href="#">
      <li class="list__items">Buy</li>
      <img class="chevron" src="images/chevron.svg" alt="" />
    </a>
    <a href="#">
      <li class="list__items">Sell</li>
      <img class="chevron" src="images/chevron.svg" alt="" />
    </a>
    <a href="#">
      <li class="list__items">Rent</li>
      <img class="chevron" src="images/chevron.svg" alt="" />
    </a>
    <a href="#">
      <li class="list__items">Mortgage</li>
      <img class="chevron" src="images/chevron.svg" alt="" />
    </a>
    <a href="#">
      <li class="list__items">Find Realtors&reg;</li>
      <img class="chevron" src="images/chevron.svg" alt="" />
    </a>
    <a href="#">
      <li class="list__items">My Home</li>
      <img class="chevron" src="images/chevron.svg" alt="" />
    </a>
    <a href="#">
      <li class="list__items">News & Insights</li>
      <img class="chevron" src="images/chevron.svg" alt="" />
    </a>
    <a href="#">
      <li class="list__items">Advertise</li>
      <img class="chevron" src="images/chevron.svg" alt="" />
    </a>
    <div class="menu__promotion">
      <p>Find Homes on the go!</p>
      <img src="Images/picto-android-app-download-badge.svg" alt="" />
      <img src="images/picto-app-promotion-bg.svg" alt="" />
    </div>
  </ul>
</div>
