<section class="features-block">
  <div class="features__container grid grid--1x2">
    <picture class="features__image">
      <source type="image/webp" srcset="images/need-a-home.webp" />
      <source type="image/jpg" srcset="images/need-a-home.jpg" />
      <img src="Images/need-a-home.jpg" alt="" />
    </picture>
    <div class="features__content">
      <h2 class="content__heading">Need a home loan? Get preapproved</h2>
      <p>
        Find a lender who can offer competitive mortgage rates and help you with
        pre-approval.
      </p>
      <a class="btn btn--primary btn--features"> Get pre-approved now </a>
      <a class="features__link" href="#">Advertising disclosure</a>
    </div>
  </div>
  <div class="features__container grid grid--1x2">
    <picture class="features__image">
      <source type="image/webp" srcset="images/get-local-info.webp" />
      <source type="image/jpg" srcset="images/get-local-info.jpg" />
      <img src="Images/get-local-info.jpg" alt="" />
    </picture>
    <div class="features__content">
      <h2 class="content__heading">Get Local Info</h2>
      <p>
        Does it have pet-friendly rentals? How are the schools? Get important
        local information on the area you're most interested in.
      </p>
      <div class="address-bar">
        <!-- <label for="address">Hey input your dream location</label> -->
        <input
          class="input"
          type="text"
          id="address"
          name="address"
          placeholder="Home Address, City"
        />
        <button class="btn btn--primary">
          <svg class="icon icon--secondary">
            <use href="images/sprite.svg#search"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
