<section class="container discover">
  <headear class="discover__header">
    <h2 class="discover__heading">Discover how we can help</h2>
    <div class="discover__button-container">
      <button class="btn btn--primary btn__buy">Buying</button>
      <button class="btn btn--outline btn__rent">Renting</button>
      <button class="btn btn--outline btn__sell">Selling</button>
    </div>
  </headear>
  <div class="discover__section buying active">
    <div class="card discover__card">
      <a href="#" class="discover__media">
        <div class="discover__container">
          <svg class="media__icon">
            <use href="images/sprite.svg#spot-badge-cash-reward"></use>
          </svg>
          <div class="media__content-container">
            <h4 class="media__heading">Find out how much you can afford</h4>
            <p class="media__content">
              We'll help you estimate your budget range
            </p>
            <p class="media__call">Try our affordability calculator</p>
          </div>
        </div>
      </a>
    </div>
    <div class="card discover__card">
      <a href="#" class="discover__media">
        <div class="discover__container">
          <svg class="media__icon">
            <use href="images/sprite.svg#spot-calculator"></use>
          </svg>
          <div class="media__content-container">
            <h4 class="media__heading">Understand your monthly costs</h4>
            <p class="media__content">
              Get an in-depth look at your monthly and closing costs.
            </p>
            <p class="media__call">Try our mortgage calculator</p>
          </div>
        </div>
      </a>
    </div>
    <div class="card discover__card">
      <a href="#" class="discover__media">
        <div class="discover__container">
          <svg class="media__icon">
            <use href="images/sprite.svg#spot-money-stack"></use>
          </svg>
          <div class="media__content-container">
            <h4 class="media__heading">Get help wuth your down payment</h4>
            <p class="media__content">
              You may be able to buy a home with just 3.5% down.
            </p>
            <p class="media__call">Find down payment help</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="discover__section renting">
    <div class="card discover__card">
      <a href="#" class="discover__media">
        <div class="discover__container">
          <svg class="media__icon">
            <use href="images/sprite.svg#spot-rent"></use>
          </svg>
          <div class="media__content-container">
            <h4 class="media__heading">Rent with the option to buy</h4>
            <p class="media__content">
              Lease from Home Partners of America with an option to buy.
            </p>
            <p class="media__call">Check program availability</p>
          </div>
        </div>
      </a>
    </div>
    <div class="card discover__card">
      <a href="#" class="discover__media">
        <div class="discover__container">
          <svg class="media__icon">
            <use href="images/sprite.svg#spot-arrows"></use>
          </svg>
          <div class="media__content-container">
            <h4 class="media__heading">
              Find out if it's better to rent or buy
            </h4>
            <p class="media__content">
              Determine if buying or renting makes more financial sense.
            </p>
            <p class="media__call">Try our rent or buy calculator</p>
          </div>
        </div>
      </a>
    </div>
    <div class="card discover__card">
      <a href="#" class="discover__media">
        <div class="discover__container">
          <svg class="media__icon">
            <use href="images/sprite.svg#spot-profile"></use>
          </svg>
          <div class="media__content-container">
            <h4 class="media__heading">Save time with a renter profile</h4>
            <p class="media__content">
              Create a free renter profile to share with any landlord.
            </p>
            <p class="media__call">Create a profile</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="discover__section selling">
    <div class="card discover__card">
      <a href="#" class="discover__media">
        <div class="discover__container">
          <svg class="media__icon">
            <use href="images/sprite.svg#spot-pending"></use>
          </svg>
          <div class="media__content-container">
            <h4 class="media__heading">Buy now, sell later</h4>
            <p class="media__content">
              Get help from our partners to buy your new home before selling.
            </p>
            <p class="media__call">Search options from our partners</p>
          </div>
        </div>
      </a>
    </div>
    <div class="card discover__card">
      <a href="#" class="discover__media">
        <div class="discover__container">
          <svg class="media__icon">
            <use href="images/sprite.svg#spot-property-making-an-offer"></use>
          </svg>
          <div class="media__content-container">
            <h4 class="media__heading">Track your home value</h4>
            <p class="media__content">
              See your home's RealEstimate&#8480; valuation information over
              time.
            </p>
            <p class="media__call">Get your RealEstimate&#8480;</p>
          </div>
        </div>
      </a>
    </div>
    <div class="card discover__card">
      <a href="#" class="discover__media">
        <div class="discover__container">
          <svg class="media__icon">
            <use href="images/sprite.svg#spot-sell"></use>
          </svg>
          <div class="media__content-container">
            <h4 class="media__heading">Get offers for your home</h4>
            <p class="media__content">
              Visit Seller's Marketplace to learn how you can sell without
              listing.
            </p>
            <p class="media__call">Explore my offers</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
