<div class="article">
  <div class="article__header">
    <p>Unique Homes</p>
    <h2 class="article__heading">
      Once Upon an Abode: 5 Magical Storybook Cottages Priced Below $500k
    </h2>
    <button class="btn btn--outline-dark">Read Article</button>
  </div>
  <div class="grid grid--1x3 article__image-container">
    <div class="article__side-image article__side-image--left">
      <picture>
        <source
          type="image/webp"
          srcset="
            images/article-home-leftside.webp    1x,
            images/article-home-leftside@2x.webp 2x
          "
        />
        <source
          type="image/jpg"
          srcset="
            images/article-home-leftside.jpg    1x,
            images/article-home-leftside@2x.jpg 2x
          "
        />
        <img src="images/article-home-leftside@2x.jpg" alt="" />
      </picture>
    </div>
    <div class="article__image">
      <picture>
        <source
          type="image/webp"
          srcset="
            images/article-home-central.webp    1x,
            images/article-home-central@2x.webp 2x
          "
        />
        <source
          type="image/jpg"
          srcset="
            images/article-home-central.jpg    1x,
            images/article-home-central@2x.jpg 2x
          "
        />
        <img src="images/article-home-central@2x.jpg" alt="" />
      </picture>
    </div>
    <div class="article__side-image article__side-image--right">
      <picture>
        <source
          type="image/webp"
          srcset="
            images/article-home-right-side.webp    1x,
            images/article-home-right-side@2x.webp 2x
          "
        />
        <source
          type="image/jpg"
          srcset="
            images/article-home-right-side.jpg    1x,
            images/article-home-right-side@2x.jpg 2x
          "
        />
        <img src="images/article-home-right-side@2x.jpg" alt="" />
      </picture>
    </div>
  </div>
</div>
