<div class="card discover__card">
  <a href="#" class="discover__media">
    <div class="discover__container">
      <svg class="media__icon">
        <use href="images/sprite.svg#spot-badge-cash-reward"></use>
      </svg>
      <div class="media__content-container">
        <h4 class="media__heading">Find out how much you can afford</h4>
        <p class="media__content">We'll help you estimate your budget range</p>
        <p class="media__call">Try our affordability calculator</p>
      </div>
    </div>
  </a>
</div>
