<a class="card__anker" href="#">
  <div class="card trend">
    <div class="trend__header">
      <span class="badge--small badge--blueish trend__badge">Buy</span>
      <picture>
        <source
          type="image/webp"
          srcset="
            images/trend-home-frontview.webp    1x,
            images/trend-home-frontview@2x.webp 2x
          "
        />
        <source
          type="image/jpg"
          srcset="
            images/trend-home-frontview.jpg    1x,
            images/trend-home-frontview@2x.jpg 2x
          "
        />
        <img
          class="trend__image"
          src="Images/trend-home-frontview@2x.jpg"
          alt=""
        />
      </picture>
    </div>
    <div class="trend__footer">
      <p>Buying in 'Billionaires Isle' Nantucket Is Now a Bargain:</p>
    </div>
  </div>
</a>
